1. Интеграция должна быть с телеграм-ботом.
2. Продавец присылает чек, приложение считывает, через фнс получаем данные с чека.
3. Заказчик выбирает стратегию начисления бонусов за присланные чеки.
4. Стратегии настройки бота:
  1) Выплата бонусов за выполнение плана, продажа товара на определенную сумму.
        а) План на неделю
        б) План на месяц
     Тогда в этом плане сохраняем сумму проданных товаров и в определенную дату,
     например, 1-го числа каждого месяца, смотрим на сколько продал продавец, платим fix цену.
     Например, продал на sales1 - bonus1, sales2 - bonus2, sales3 - bonus3. Суммы определяет заказчик.
  2) Выплата бонусов за каждый чек, определенный % с продажи. % вводит заказчик. Бонусы копятся, опять же, например,
     1-го числа каждого месяца приходит выплата бонусов.
  2.1) Регулярность выплат - раз в месяц/раз в неделю/за каждый чек.

5. Бот приватный?? или нет?
"если просто бот делать приватным, то это реализуется через доступ по id юзера. типо разрешаю вот этим писать, им буду
отвечать, а остальным буду писать, что сорян, у вас нет доступа. Но тогда этих юзеров нужно ручками вбивать админу."

"либо второй вариант реализации - присваиваем номер уникальный заказчику, он его дает своим продавцам. они пишут в бот,
 мы такие - введите номер поставщика, от которого хотите получить бонус за продажи. он вводи номер и его id с телеги
  автоматом добавляется в базу данных и привязывается к нашему заказчику."

"ну только переспросить - типо перепроверьте номер, его зовут Магомедов Илья, это ваш поставщик, все верно? он говорит
да, и мы привязываем его к заказчику"

6. Чек должен проверяться на повтор, не присылал ли кто-то еще его, не были ли засчитаны бонусы уже.